// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all-sales{
    display:flex;
    justify-content: center;
}
.card{
    width:18rem;
    height:24rem;
    margin:.5rem
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 80vw;
    background-color: yellow;
}
.card-img-top{
    min-height: 199px;
    max-height: 200px;
}
.card-btn-holder{
    display: flex;
    justify-content: space-around;
}
.card-title{
    height:2.5rem;
}
.card-text{
    height:3rem;
}